{% extends 'reservation/base.html' %}

{% load static %}

{% block head %}
    <style>
        .calender-container {
            height: 75vh;
        }

        .calendar-title {
            color: black;
            text-decoration: none !important;
        }

        .fc-event {
            cursor: pointer
        }
    </style>

    <!-- FullCalendar -->
    <link rel="stylesheet" href="{% static 'reservation/fullcalendar/core/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'reservation/fullcalendar/daygrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'reservation/fullcalendar/timegrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'reservation/fullcalendar/bootstrap/main.min.css' %}">
{% endblock head %}

{% block navbar %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="carDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            {{ object.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="carDropdown">
            {% for car in all_cars %}
                {% if car == object %}
                    <b><a class="dropdown-item" href="{% url 'reservation:calendar_car' car.id %}">
                        {{ car.name }}
                    </a></b>
                {% else %}
                    <a class="dropdown-item" href="{% url 'reservation:calendar_car' car.id %}">
                        {{ car.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </li>
{% endblock navbar %}

{% block outer_body %}
    <div class="modal" tabindex="-1" role="dialog" id="add-reservation-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add reservation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <i id="add-reservation-spinner" class="fas fa-circle-notch fa-spin"></i>
                        <span id="add-reservation-modal-body">
                            The car has <b><span id="add-reservation-modal-distance"></span> km</b> left
                            <span id="add-reservation-modal-time"></span>.
                        </span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
                    <a role="button" href="" class="btn btn-secondary" id="add-charging-reservation-button">
                        Charge
                    </a>
                    <a role="button" href="" class="btn btn-primary" id="add-reservation-button">
                        Book
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock outer_body %}

{% block body %}
    <div class="row justify-content-between">
        <div class="col">
            <h1>
                <a href="{% url 'reservation:calendar_car_config' object.id %}" class="calendar-title">
                    {{ object.name }}
                    <i style="color: #888; font-size: 0.8em" class="fas fa-cog" id="calendar-title-icon"></i>
                </a>
            </h1>
        </div>
        <div class="float-right" style="margin-right: 10px">
            <button class="btn btn-primary" onclick="calendar.today()">
                <i class="fas fa-calendar"></i>
            </button>
            <button class="btn btn-primary" onclick="calendar.prev()">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="btn btn-primary" onclick="calendar.next()">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="calender-container">
        <div id="calendar"></div>
    </div>
{% endblock body %}

{% block script %}
    <script src="{% static 'reservation/fullcalendar/core/main.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/interaction/main.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/daygrid/main.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/timegrid/main.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/bootstrap/main.min.js' %}"></script>

    <script>

        let currentCarId = {{ object.id }};
        let calendarEl = $("#calendar").get(0);
        let calendarOptions = {
            plugins: ['interaction', 'timeGrid', 'bootstrap'],
            defaultView: 'timeGridWeek',
            views: {
                timeGridThreeDay: {
                    type: 'timeGrid',
                    duration: {days: 3},
                }
            },
            themeSystem: 'bootstrap',
            header: {
                left: '',
                center: '',
                right: ''
            },
            allDaySlot: false,
            slotLabelFormat: {
                hour: '2-digit',
                minute: '2-digit'
            },
            eventTimeFormat: {
                hour: '2-digit',
                minute: '2-digit'
            },
            locale: 'be',
            firstDay: 1,
            nowIndicator: true,
            height: 'parent',
            eventOverlap: false,

            dateClick: function (dateClickInfo) {
                let clickedTime = dateClickInfo.date.getTime() / 1000;

                $("#add-reservation-modal-body").hide();
                $("#add-reservation-modal-time").text(
                    'on ' + $.format.date(dateClickInfo.date, 'dd/MM/yyyy')
                    + ' at ' + $.format.date(dateClickInfo.date, 'HH:mm'));

                $("#add-reservation-spinner").show();

                $("#add-charging-reservation-button").attr('href', '/car/' + currentCarId +
                    '/charging_reservation/add?time=' + clickedTime);
                $("#add-charging-reservation-button").prop('disabled', true);
                $("#add-reservation-button").attr('href', '/car/' + currentCarId +
                    '/reservation/add?time=' + clickedTime);
                $("#add-reservation-button").prop('disabled', true);

                $("#add-reservation-modal").modal('show');

                $.ajax({
                    dataType: 'json',
                    type: 'get',
                    url: '/api/car/' + currentCarId + '/distance_left/',
                    data: {time: clickedTime},
                    success: function (result) {
                        let distance_left = result['distance_left'];
                        $("#add-reservation-modal-distance").text(distance_left);
                        $("#add-reservation-modal-body").show();
                        $("#add-reservation-spinner").hide();
                        $("#add-charging-reservation-button").prop('disabled', false);
                        $("#add-reservation-button").prop('disabled', false);
                    }
                });
            },

            eventDrop: function(eventDropInfo) {
                let newEvent = eventDropInfo.event;
                $.ajax('/charging_reservation/' + newEvent.id + '/', {
                    method: 'post',
                    data: {
                        'start_time': $.format.date(newEvent.start, 'yyyy-MM-dd HH:mm:ss'),
                        'end_time': $.format.date(newEvent.end, 'yyyy-MM-dd HH:mm:ss'),
                    },
                    error: function(xhr) {
                        alert('Moving charging reservation failed: ' + xhr.response);
                    }
                })
            },

            eventSources: [
                function (info, successCallback, failureCallback) {
                    $.ajax({
                        dataType: 'json',
                        type: 'get',
                        url: '/api/car/' + currentCarId + '/reservations/',
                        data: {start: info.startStr, end: info.endStr},
                        error: function (xhr) {
                            failureCallback(xhr);
                        },
                        success: function (events) {
                            let calendarEvents = [];
                            for (let i in events) {
                                let e = events[i];
                                let eventObject = {
                                    id: e.id,
                                    start: new Date(e.start_time),
                                    end: new Date(e.end_time),
                                    url: '/reservation/' + e.id,
                                    backgroundColor: e.owner.profile.calendar_color,
                                    borderColor: e.owner.profile.calendar_color,
                                    title: capitalizeFirstLetter(e.owner.username) + '\n'
                                        + capitalizeFirstLetter(e.location) + ' · ' + e.distance + ' km \n',
                                    editable: false,
                                };
                                calendarEvents.push(eventObject);
                            }
                            successCallback(calendarEvents);
                        }
                    });
                }, function (info, successCallback, failureCallback) {
                    $.ajax({
                        dataType: 'json',
                        type: 'get',
                        url: '/api/car/' + currentCarId + '/charging_reservations/',
                        data: {start: info.startStr, end: info.endStr},
                        error: function (xhr) {
                            failureCallback(xhr);
                        },
                        success: function (events) {
                            let calendarEvents = [];
                            for (let i in events) {
                                let e = events[i];
                                let eventObject = {
                                    id: e.id,
                                    start: new Date(e.start_time),
                                    end: new Date(e.end_time),
                                    url: '/charging_reservation/' + e.id,
                                    backgroundColor: '#868e96',
                                    borderColor: '#868e96',
                                    title: 'Charging',
                                    editable: true,
                                    eventStartEditable: true,
                                    eventDurationEditable: false,
                                };
                                calendarEvents.push(eventObject);
                            }
                            successCallback(calendarEvents);
                        }
                    });
                }, function (info, successCallback, failureCallback) {
                    successCallback([{
                        daysOfWeek: [0, 6], //Sundays and saturdays
                        rendering: "background",
                        color: "#d5d5d5",
                        overLap: false,
                        allDay: true
                    }])
                }
            ],
        };

        if (checkMobile()) {
            calendarOptions.defaultView = 'timeGridThreeDay';
            $("#calendar-title-icon").hide();
        }


        let calendar = new FullCalendar.Calendar(calendarEl, calendarOptions);
        calendar.render();

    </script>
{% endblock script %}

