{% extends 'reservation/base.html' %}
{% load i18n %}

{% load static %}

{% block head %}
    <style>
        .calender-container {
            height: 75vh;
        }

        .calendar-title {
            color: black;
            text-decoration: none !important;
        }

        .fc-event {
            cursor: pointer
        }

        .fc-sat {
            background-color: #f3f3f3;
        }

        .fc-sun {
            background-color: #f3f3f3;
        }
    </style>

    <!-- FullCalendar -->
    <link rel="stylesheet" href="{% static 'reservation/fullcalendar/core/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'reservation/fullcalendar/daygrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'reservation/fullcalendar/timegrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'reservation/fullcalendar/bootstrap/main.min.css' %}">
{% endblock head %}

{% block navbar %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="carDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            {{ object.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="carDropdown">
            {% for car in all_cars %}
                {% if car == object %}
                    <b><a class="dropdown-item" href="{% url 'reservation:calendar_car' car.id %}">
                        {{ car.name }}
                    </a></b>
                {% else %}
                    <a class="dropdown-item" href="{% url 'reservation:calendar_car' car.id %}">
                        {{ car.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </li>
{% endblock navbar %}

{% block outer_body %}
    <div class="modal fade" tabindex="-1" role="dialog" id="add-reservation-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% blocktrans %}Add reservation{% endblocktrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <i id="add-reservation-spinner" class="fas fa-circle-notch fa-spin"></i>
                        <span id="add-reservation-modal-body">
                            {% blocktrans trimmed %}
                                The car has <b><span id="add-reservation-modal-distance"></span> km</b> left on
                            {% endblocktrans %} <span id="add-reservation-modal-time"></span>.
                        </span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">
                        {% trans "Cancel" %}
                    </button>
                    <form action="{% url 'reservation:charging_reservation_add' car.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="charging-reservation-start-time" name="start_time">
                        <input type="hidden" id="charging-reservation-end-time" name="end_time">
                        <button type="submit" class="btn btn-secondary" id="add-charging-reservation-button">
                            {% trans "Charge" %}
                        </button>
                    </form>
                    <a role="button" href="" class="btn btn-primary" id="add-reservation-button">
                        {% trans "Book" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock outer_body %}

{% block body %}
    <div class="row justify-content-between">
        <div class="col">
            <h1>
                <a href="{% url 'reservation:calendar_car_config' object.id %}" class="calendar-title">
                    {{ object.name }}
                    <i style="color: #888; font-size: 0.8em" class="fas fa-cog" id="calendar-title-icon"></i>
                </a>
            </h1>
        </div>
        <div class="float-right" style="margin-right: 10px">
            <button class="btn btn-primary" onclick="calendar.today()" data-toggle="tooltip" data-placement="top"
                    title="{% trans "Today" %}">
                <i class="fas fa-calendar"></i>
            </button>
            <button class="btn btn-primary" onclick="calendar.prev()" data-toggle="tooltip" data-placement="top"
                    title="{% trans "Previous" %}">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="btn btn-primary" onclick="calendar.next()" data-toggle="tooltip" data-placement="top"
                    title="{% trans "Next" %}">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="calender-container">
        <div id="calendar"></div>
    </div>
{% endblock body %}

{% block script %}
    <script src="{% static 'reservation/fullcalendar/core/main.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/core/locales-all.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/interaction/main.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/daygrid/main.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/timegrid/main.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/bootstrap/main.min.js' %}"></script>

    <script>

        let currentCarId = {{ object.id }};
        let calendarEl = $("#calendar").get(0);
        let calendarOptions = {
            plugins: ['interaction', 'timeGrid', 'bootstrap'],
            defaultView: 'timeGridWeek',
            views: {
                timeGridThreeDay: {
                    type: 'timeGrid',
                    duration: {days: 3},
                }
            },
            themeSystem: 'bootstrap',
            header: {
                left: '',
                center: '',
                right: ''
            },
            allDaySlot: false,
            slotLabelFormat: {
                hour: '2-digit',
                minute: '2-digit'
            },
            eventTimeFormat: {
                hour: '2-digit',
                minute: '2-digit'
            },
            locale: 'nl',
            firstDay: 1,
            nowIndicator: true,
            height: 'parent',
            eventOverlap: false,

            dateClick: function (dateClickInfo) {
                let clickedTime = dateClickInfo.date.getTime() / 1000;

                $("#add-reservation-modal-body").hide();
                $("#add-reservation-modal-time").text(moment(dateClickInfo.date).format('LLLL'));

                $("#add-reservation-spinner").show();

                $("#add-reservation-button").attr('href', '/car/' + currentCarId +
                    '/reservation/add?time=' + clickedTime);
                $("#add-reservation-button").prop('disabled', true);

                $("#add-charging-reservation-button").prop('disabled', true);
                $("#charging-reservation-start-time").val(moment(dateClickInfo.date).format('YYYY-MM-DD HH:mm:ss'));
                let end_time = moment(dateClickInfo.date);
                end_time.add({{ car.charging_time }}, 'hours');
                $("#charging-reservation-end-time").val(end_time.format('YYYY-MM-DD HH:mm:ss'));

                $("#add-reservation-modal").modal('show');

                $.ajax({
                    dataType: 'json',
                    type: 'get',
                    url: '/api/car/' + currentCarId + '/distance_left/',
                    data: {time: clickedTime},
                    success: function (result) {
                        let distance_left = result['distance_left'];
                        $("#add-reservation-modal-distance").text(distance_left);
                        $("#add-reservation-modal-body").show();
                        $("#add-reservation-spinner").hide();
                        $("#add-charging-reservation-button").prop('disabled', false);
                        $("#add-reservation-button").prop('disabled', false);
                    }
                });
            },

            eventDrop: function (eventDropInfo) {
                let newEvent = eventDropInfo.event;
                $.ajax('/charging_reservation/' + newEvent.id + '/', {
                    method: 'post',
                    data: {
                        'start_time': moment(newEvent.start).format('YYYY-MM-DD HH:mm:ss'),
                        'end_time': moment(newEvent.end).format('YYYY-MM-DD HH:mm:ss'),
                    },
                    error: function (xhr) {
                        alert("{% trans 'Moving charging reservation failed: ' %}" + xhr.response);
                    }
                })
            },

            eventRender: function (info) {
                if (info.event.extendedProps.type === 'reservation') {
                    if (!info.event.extendedProps.enoughDistanceLeft) {
                        let oldBackgroundColor = info.el.style.backgroundColor;
                        let lightBackgroundColor = chroma(oldBackgroundColor).brighten(0.5).hex();
                        info.el.style.background = 'repeating-linear-gradient(' +
                            '45deg,' +
                            oldBackgroundColor + ',' +
                            oldBackgroundColor + ' 10px,' +
                            lightBackgroundColor + ' 10px,' +
                            lightBackgroundColor + ' 20px' +
                            ')';
                    }
                }
            },

            eventSources: [
                function (info, successCallback, failureCallback) {
                    $.ajax({
                        dataType: 'json',
                        type: 'get',
                        url: '/api/car/' + currentCarId + '/reservations/',
                        data: {start: info.startStr, end: info.endStr},
                        error: function (xhr) {
                            failureCallback(xhr);
                        },
                        success: function (events) {
                            let calendarEvents = [];
                            for (let i in events) {
                                let e = events[i];
                                let eventObject = {
                                    id: e.id,
                                    start: new Date(e.start_time),
                                    end: new Date(e.end_time),
                                    url: '/reservation/' + e.id + '/',
                                    backgroundColor: e.owner.profile.calendar_color,
                                    borderColor: e.owner.profile.calendar_color,
                                    editable: false,
                                    extendedProps: {
                                        type: 'reservation',
                                        enoughDistanceLeft: e.distance <= e.distance_left
                                    },
                                };

                                let title = capitalizeFirstLetter(e.owner.username) + ' · '
                                    + capitalizeFirstLetter(e.location) + ' · ' + e.distance + ' km \n';
                                if (e.description.length !== 0) {
                                    title += '"' + e.description + '"'
                                }
                                eventObject.title = title;
                                
                                calendarEvents.push(eventObject);
                            }
                            successCallback(calendarEvents);
                        }
                    });
                }, function (info, successCallback, failureCallback) {
                    $.ajax({
                        dataType: 'json',
                        type: 'get',
                        url: '/api/car/' + currentCarId + '/charging_reservations/',
                        data: {start: info.startStr, end: info.endStr},
                        error: function (xhr) {
                            failureCallback(xhr);
                        },
                        success: function (events) {
                            let calendarEvents = [];
                            for (let i in events) {
                                let e = events[i];
                                let eventObject = {
                                    id: e.id,
                                    start: new Date(e.start_time),
                                    end: new Date(e.end_time),
                                    url: '/charging_reservation/' + e.id + '/',
                                    backgroundColor: '#868e96',
                                    borderColor: '#868e96',
                                    {# Translators: Charging reservation title #}
                                    title: '{% trans "Charging" %}',
                                    editable: true,
                                    eventStartEditable: true,
                                    eventDurationEditable: false,
                                    extendedProps: {testData: 'hallo'},
                                };
                                calendarEvents.push(eventObject);
                            }
                            successCallback(calendarEvents);
                        }
                    });
                }
            ],
        };

        if (checkMobile()) {
            calendarOptions.defaultView = 'timeGridThreeDay';
            $("#calendar-title-icon").hide();
        }


        let calendar = new FullCalendar.Calendar(calendarEl, calendarOptions);
        calendar.render();

    </script>
{% endblock script %}

