{% extends 'reservation/base.html' %}

{% load static %}

{% block head %}
    <style>
        .calender-container {
            height: 80vh;
        }

        .calendar-title {
            color: black;
            text-decoration: none !important;
        }

        .fc-event {
            cursor: pointer
        }
    </style>

    <!-- FullCalendar -->
    <link rel="stylesheet" href="{% static 'reservation/fullcalendar/core/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'reservation/fullcalendar/daygrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'reservation/fullcalendar/timegrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'reservation/fullcalendar/bootstrap/main.min.css' %}">
{% endblock head %}

{% block navbar %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="carDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            {{ object.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="carDropdown">
            {% for car in all_cars %}
                {% if car == object %}
                    <b><a class="dropdown-item" href="{% url 'reservation:calendar_car' car.id %}">
                        {{ car.name }}
                    </a></b>
                {% else %}
                    <a class="dropdown-item" href="{% url 'reservation:calendar_car' car.id %}">
                        {{ car.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </li>
{% endblock navbar %}

{% block body %}
    <div class="row justify-content-between">
        <div class="col">
            <h1>
                <a href="{% url 'reservation:calendar_car_config' object.id %}" class="calendar-title">
                    {{ object.name }}
                    <i style="color: #888; font-size: 0.8em" class="fas fa-cog" id="calendar-title-icon"></i>
                </a>
            </h1>
        </div>
        <div class="float-right" style="margin-right: 10px">
            <button class="btn btn-primary" onclick="calendar.today()">
                <i class="fas fa-calendar"></i>
            </button>
            <button class="btn btn-primary" onclick="calendar.prev()">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="btn btn-primary" onclick="calendar.next()">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="calender-container">
        <div id="calendar"></div>
    </div>
{% endblock body %}

{% block script %}
    <script src="{% static 'reservation/fullcalendar/core/main.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/interaction/main.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/daygrid/main.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/timegrid/main.min.js' %}"></script>
    <script src="{% static 'reservation/fullcalendar/bootstrap/main.min.js' %}"></script>

    <script>

        let currentCarId = {{ object.id }};
        let calendarEl = $("#calendar").get(0);
        let calendarOptions = {
            plugins: ['interaction', 'timeGrid', 'bootstrap'],
            defaultView: 'timeGridWeek',
            views: {
                timeGridThreeDay: {
                    type: 'timeGrid',
                    duration: {days: 3},
                }
            },
            themeSystem: 'bootstrap',
            header: {
                left: '',
                center: '',
                right: ''
            },
            allDaySlot: false,
            slotLabelFormat: {
                hour: '2-digit',
                minute: '2-digit'
            },
            eventTimeFormat: {
                hour: '2-digit',
                minute: '2-digit'
            },
            locale: 'be',
            firstDay: 1,
            nowIndicator: true,
            height: 'parent',

            dateClick: function (dateClickInfo) {
                window.open(
                    '/car/' + currentCarId + '/reservation/add?time=' + (dateClickInfo.date.getTime() / 1000),
                    "_self"
                )
            },

            eventSources: [
                function (info, successCallback, failureCallback) {
                    $.ajax({
                        dataType: 'json',
                        type: 'get',
                        url: '/api/car/' + currentCarId + '/reservations/',
                        data: {start: info.startStr, end: info.endStr},
                        error: function (xhr) {
                            failureCallback(xhr);
                        },
                        success: function (events) {
                            let calendarEvents = [];
                            for (let i in events) {
                                let e = events[i];
                                let eventObject = {
                                    id: e.id,
                                    start: new Date(e.start_time),
                                    end: new Date(e.end_time),
                                    url: '/reservation/' + e.id,
                                    backgroundColor: e.owner.profile.calendar_color,
                                    borderColor: e.owner.profile.calendar_color,
                                    title: capitalizeFirstLetter(e.owner.username) + '\n'
                                        + capitalizeFirstLetter(e.location) + ' · ' + e.distance + ' km \n',
                                    editable: false,
                                };
                                calendarEvents.push(eventObject);
                            }
                            successCallback(calendarEvents);
                        }
                    });
                }, function (info, successCallback, failureCallback) {
                    $.ajax({
                        dataType: 'json',
                        type: 'get',
                        url: '/api/car/' + currentCarId + '/charging_reservations/',
                        data: {start: info.startStr, end: info.endStr},
                        error: function (xhr) {
                            failureCallback(xhr);
                        },
                        success: function (events) {
                            let calendarEvents = [];
                            for (let i in events) {
                                let e = events[i];
                                let eventObject = {
                                    id: e.id,
                                    start: new Date(e.start_time),
                                    end: new Date(e.end_time),
                                    url: '/charging_reservation/' + e.id,
                                    backgroundColor: '#868e96',
                                    borderColor: '#868e96',
                                    title: 'Charging',
                                    editable: true,
                                    eventStartEditable: true,
                                    eventDurationEditable: false,
                                };
                                calendarEvents.push(eventObject);
                            }
                            successCallback(calendarEvents);
                        }
                    });
                }, function (info, successCallback, failureCallback) {
                    successCallback([{
                        daysOfWeek: [0, 6], //Sundays and saturdays
                        rendering: "background",
                        color: "#d5d5d5",
                        overLap: false,
                        allDay: true
                    }])
                }
            ]
        };

        if (checkMobile()) {
            calendarOptions.defaultView = 'timeGridThreeDay';
            $("#calendar-title-icon").hide();
        }


        let calendar = new FullCalendar.Calendar(calendarEl, calendarOptions);
        calendar.render();

    </script>
{% endblock script %}

