{% extends 'reservation/base.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if reservation_type == 'reservation' %}
                <h1 class="mt-2">{% trans "Reservation" %}</h1>
            {% else %}
                <h1 class="mt-2">{% trans "Charging Reservation" %}</h1>
            {% endif %}

            <div id="distance-alert"></div>

            {% crispy form %}
        </div>
    </div>
{% endblock body %}

{% block outer_body %}
    {% if object %}
        <div class="modal fade" tabindex="-1" role="dialog" id="confirmDeletionModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans "Confirm Deletion" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{% blocktrans %}Are you sure you want to delete this reservation?{% endblocktrans %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                        {% if reservation_type == 'reservation' %}
                            <form action="{% url 'reservation:reservation_delete' object.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                            </form>
                        {% else %}
                            <form action="{% url 'reservation:charging_reservation_delete' object.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock outer_body %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock head %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


    <script>
        let input_start_time = $("#id_start_time");
        let input_end_time = $("#id_end_time");

        input_start_time.addClass('flatpickr');
        input_start_time.addClass('flatpickr-input');
        input_end_time.addClass('flatpickr');
        input_end_time.addClass('flatpickr-input');

        flatpickr(input_start_time.get(0), {
            dateFormat: "d-m-Y H:i:S",
            enableTime: true,
            time_24hr: true,
            {#disableMobile: "true",#}
            defaultData: moment(input_start_time.val()).toISOString()
        });
        flatpickr(input_end_time.get(0), {
            dateFormat: "d-m-Y H:i:S",
            enableTime: true,
            time_24hr: true,
            {#disableMobile: "true",#}
            defaultData: moment(input_end_time.val()).toISOString()
        });

        function deleteReservation() {
            $("#confirmDeletionModal").modal('toggle');
        }

        {% if reservation_type == 'reservation' %}

            let distanceLeft;

            function updateDistanceLeft() {
                let date = moment($("#id_start_time").val(), 'DD-MM-YYYY HH:mm:ss');
                if (date.isValid()) {
                    $.ajax({
                        dataType: 'json',
                        type: 'get',
                        url: '/api/car/{{ car.id }}/distance_left/',
                        data: {time: date.unix()},
                        success: function (result) {
                            let drivingRange = result['driving_range'];
                            distanceLeft = result['distance_left'];

                            let div = $('#distance-alert');
                            if (distanceLeft < drivingRange * 0.3) {
                                div.attr('class', 'alert alert-danger');
                                div.html("{% blocktrans %}Warning! Just <b>%0 km</b> left at %1.{% endblocktrans %}"
                                    .format(distanceLeft, input_start_time.val()));
                            } else if (distanceLeft < drivingRange * 0.7) {
                                div.attr('class', 'alert alert-warning');
                                div.html("{% blocktrans %}Warning! Just <b>%0 km</b> left at %1.{% endblocktrans %}"
                                    .format(distanceLeft, input_start_time.val()));
                            } else {
                                div.attr('class', 'alert alert-success');
                                div.html("{% blocktrans %}The car has <b>%0 km</b> left at %1.{% endblocktrans %}"
                                    .format(distanceLeft, input_start_time.val()));
                            }
                        }
                    });
                }
            }
            $(function () {
                updateDistanceLeft();
            });

            input_start_time.on('input', $.debounce(500, function (e) {
                updateDistanceLeft();
            }));
        {% endif %}

        {% if reservation_type == 'charging_reservation' %}
            // Set end time to start time + charging time
            $("#id_start_time").on('input', function (e) {
                let date = moment($("#id_start_time").val(), 'DD-MM-YYYY HH:mm:ss');
                console.log(date);
                if (date.isValid()) {
                    date.add({{ car.charging_time }}, 'hours');
                    $("#id_end_time").val(date.format('DD-MM-YYYY HH:mm:ss'));
                }
            });
        {% endif %}
    </script>
{% endblock script %}
